.search-form {
    margin: 20px auto 0 auto;
    width: 400px;

}

input {
    height: 30px;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid black;
}

button {
    height: 30px;
    width: 80px;
    border-radius: 4px;
    border: 1px solid black;
}

