.search-form {
    height: 50px;
    margin-bottom: 20px;
    background-color: #baf1dab4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

input {
    height: 20px;
    max-width: 300px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(143, 138, 138);
    padding-left: 10px;
}

.btn-submit {
    height: 25px;
    width: 80px;
    border-radius: 4px;
    border: 1px solid rgb(143, 138, 138);
    cursor: pointer;
    transition: 200ms linear;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

.info {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.show-more {
    display: block;
    margin: 0 auto;
    height: 25px;
    border-radius: 4px;
    border: 1px solid rgb(143, 138, 138);
    margin-bottom: 40px;
    cursor: pointer;
    transition: 250ms linear;
}

.btn-submit:hover,
.show-more:hover {
    background-color: rgb(146, 191, 228);
    color: aliceblue;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.photo-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.photo-card:hover {
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}